﻿@model WebApplication4.Models.SearchForTweetsModel


@{
    ViewData["Title"] = "Serach For Tweets";
}


    <div style="padding-left:5%;">
        <h1>@Html.DisplayFor(model => model.Sentence)</h1>

        <hr />
        <div class="report">
            <div class="row" style="font-weight: bold;padding-left:5%;">
                <br />

                @Html.DisplayNameFor(model => model.PositiveTweets):

                @Html.DisplayFor(model => model.PositiveTweets)%<br />
                <br />
                @Html.DisplayNameFor(model => model.NegativeTweets):

                @Html.DisplayFor(model => model.NegativeTweets)%<br />
                <br />

                @Html.DisplayNameFor(model => model.NeutralTweets):

                @Html.DisplayFor(model => model.NeutralTweets)%
            </div>

            <div id="canvas-holder-pie" style="width:100%;">
                <canvas style="text-align:center;float:right;" id="chart-area-pie"></canvas>
            </div>

            <div id="canvas-holder-chart" style="width:100%;">
                <canvas style="text-align:center;float:right;" id="chart-area-chart"></canvas>
            </div>
            <br />
        </div>
        
        <div id="image-opinion">
            @if (Model.PositiveTweets > Model.NeutralTweets && Model.PositiveTweets > Model.NegativeTweets || Model.NegativeTweets == Model.NeutralTweets)
            {
                <div style="text-align:center;" id="image">
                    <img src="~/images/like.png" style="width: 60%;height: auto;" />
                </div>
            }
            else if (Model.NegativeTweets > Model.PositiveTweets && Model.NegativeTweets > Model.NegativeTweets || Model.PositiveTweets == Model.NeutralTweets)
            {
                <div style="text-align:center;" id="image">
                    <img src="~/images/dislike.png" style="width: 60%;height: auto;" />
                </div>
            }
            else if (Model.NeutralTweets > Model.NegativeTweets && Model.NeutralTweets > Model.PositiveTweets || Model.PositiveTweets == Model.NegativeTweets)
            {
                <div style="text-align:center;" id="image">
                    <img src="~/images/i-dunno-lol.jpg" style="width: 60%;height: auto;" />
                </div>
            }
            <br />

            <div id="opinion">
                @Html.DisplayFor(model => model.Opinion)
            </div>
        </div>
        <br />
    </div>
<div style="padding-left:5%;">
    <a class="submit" asp-route-id="@Model.ProjectId" asp-action="Back" asp-controller="Tweet">Back</a>
</div>

@section Scripts{
    <script>
        var ctx = document.getElementById('chart-area-pie').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        Math.round(@Model.PositiveTweets),
                        Math.round(@Model.NegativeTweets),
                        Math.round(@Model.NeutralTweets)  
                    ],
                    backgroundColor: [
                        '#F25CA2',
                        '#0433BF',
                        '#0B9ED9'
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    'Positive',
                    'Negative',
                    'Neutral'
                ]
            },
            options: {
                responsive: true
            }
        });       

          

        @{ 
            string a = Model.Labels.ElementAt(0).Month.ToString();
            foreach(var l in Model.Labels)
            {
                a +=","+l.Month.ToString();
            }            

            string b = Model.TweetSentiments.ElementAt(0).ToString();
            foreach(var d in Model.TweetSentiments)
            {
                b +=","+ d.ToString();
            }
        }

          
        var ctxLine = document.getElementById('chart-area-chart').getContext('2d');
        var chartLine = new Chart(ctxLine, 
            {
			    type: 'line',
                    data: {
                        labels: [@a],
                    datasets: [{
                                label: 'Time variation of tweets according to months',				
					    data: [@b],
                        fill: false,
                        backgroundColor: ['#F25CA2'],
                        borderColor: ['#F25CA2'],
                        lineTension: 0.1
                        }]
                          
                },
                options: {                       
                    
                    scales: {
                        xAxes: {
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Month'
                            }
                        },
                        yAxes: {
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Sentiment index'
                            }
                        }
                    }
                }
				
            });
              
    </script>
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link href="~/css/report.css" rel="stylesheet" />
<script src="~/chart/Chart.min.js"></script>