﻿@model WebApplication4.Models.AddWordsViewModel

@{
    ViewData["Title"] = "Add Keyword";
}

    <div style="padding-left:5%;">
        <h1>Add Keyword</h1>

        <hr />
        <div class="row">
            <div class="col-md-10">
                <form asp-action="AddKeyword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Word" class="control-label"></label>
                        <input asp-for="Word" class="form-control" />
                        <span asp-validation-for="Word" class="text-danger"></span>
                    </div>

                    <label class="switch">
                        <input type="checkbox" asp-for="Active">
                        <span class="slider round"></span>
                    </label>
                    @Html.DisplayNameFor(model => model.Active)
                    <div class="form-group">
                        @*<label asp-for="ProjectId" class="control-label"></label>*@
                        <input type="hidden" asp-for="ProjectId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="submit" />
                    </div>
                    <div style="color:red;">@ViewData["word"]</div>
                </form>
            </div>
        </div>
        <a class="submit" asp-route-id="@Model.ProjectId" asp-controller="Project" asp-action="Details">Back to My Project</a>


    </div>

    <link href="~/css/addkeyword.css" rel="stylesheet" />

