﻿@model WebApplication4.Models.CreateProjectViewModel

@{
    ViewData["Title"] = "Add Project";
}

    <div style="padding-left:5%;">
        <h1>Add Project</h1>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="AddProject" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="UserId" class="control-label"></label>*@
                        <input type="hidden" asp-for="UserId" class="form-control" contenteditable="false" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="submit">Add</button>
                    </div>
                </form>

            </div>
        </div>
        <h4 style="color:red;">@ViewData["notCreated"]</h4>

        <div>
            <a class="submit" asp-route-id="@Model.UserId" asp-controller="Account" asp-action="MyProfile">Back to My Profile</a>
        </div>

    </div>