﻿
@{
    ViewData["Title"] = "Email";
}

    <div style="padding-left:5%;">
        <h1>Email</h1>
        <hr />
        <h2 style="color:Highlight;">@ViewBag.ErrorTitle</h2>
        <h3>@ViewBag.ErrorMessage</h3>
    </div>

