﻿@model WebApplication4.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

    
    <div style="padding-left:5%;">
        

        <div class="mainn">
            <div class="logo" style="text-align:center;">
                <img src="~/logo/logoo.png" alt="">
            </div>
            <form method="post" class="form1">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="un">
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="pass">
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="bool">
                    <div class="checkbox">
                        <label asp-for="RememberMe" class="control-label">
                            <input asp-for="RememberMe" />@Html.DisplayNameFor(model => model.RememberMe)
                        </label>
                    </div>
                </div>
                <button type="submit" class="submit">Login</button>
                <br />
                <br />

            </form>
            <div class="buttons" style="white-space: nowrap;color:white;">
                @{
                    if (Model.ExternalLogins.Count == 0)
                    {
                        <div>No external logins configured</div>
                    }
                    else
                    {
                        <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnURL">
                            <div>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button style="margin-left:12%;width:auto;" type="submit" class="submit" 
                                            name="provider" value="@provider.Name"
                                            title="Log in using your @provider.DisplayName account">
                                        @provider.DisplayName
                                    </button>
                                }
                            </div>
                        </form>
                    }
                }
                
            </div>

        </div>


    </div>

<link href="~/css/login.css" rel="stylesheet" />
