﻿@model WebApplication4.Models.ProfileViewModel

@{
    ViewData["Title"] = "My Profile";
}


<div class="app">

    <div style="color:white;" class="submit1">
        @if (Model.Picture != null)
        {
            <img src="~/images/@Model.Picture" style="width: 50%;height: auto;" />
        }
        else
        {
            <img src="~/images/avatar.png" style="width: 50%;height: auto;" />

        }
        <p style="text-align:center">Hi, @Model.UserName!</p><br />
        
        <p>Let's see what other Twitter users say about your product</p>
        <img src="~/images/twitter2.png" style="width: 100%;height: auto;box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);" /><br /><br />

        @*<h3>@Html.DisplayFor(model => model.UserName)</h3>*@
        <div class="page-link">
            @Html.ActionLink("Edit information", "EditUser", "Administration", new { id = Model.Id })
        </div>
    </div>

    <div class="project">
        @{
            <div @*class="table-wrapper-scroll-y my-custom-scrollbar"*@>

                <table style="width:100%" @*class="table table-bordered table-striped mb-0"*@>
                    <tr>
                        <th>Project number</th>
                        <th>Project name</th>
                        <th>Action</th>
                    </tr>
                    @if (Model.Projects.Count() > 0)
                    {

                        @foreach (var project in Model.Projects)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        @project.ProjectId
                                    </td>
                                    <td>
                                        @project.Name
                                    </td>
                                    <td style="text-align:right;">
                                        <a asp-route-id="@project.ProjectId" asp-action="EditProject" asp-controller="Project">Edit</a>
                                        <a asp-route-id="@project.ProjectId" asp-action="DeleteProject" asp-controller="Project">Delete</a>
                                        <a asp-route-id="@project.ProjectId" asp-action="Details" asp-controller="Project">Details</a>

                                    </td>
                                </tr>
                            </tbody>
                        }


                    }
                    else
                    {
                        <tr style="text-align:center;">
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    }
                </table>
            </div>

            <br />
            <div style="text-align:right;">
                <a class="submit" style="text-align:right;" asp-route-id="@Model.Id" asp-controller="Project" asp-action="AddProject">Add a project</a>
            </div>
        }
    </div>

</div>

<link href="~/css/mypage.css" rel="stylesheet" />
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

