﻿/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/
/*body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}*/



/*#login-div {
    position: absolute;
    left: 40%;
    top: 40%;
    border: 1px solid black;
    padding: 10px 10px;
}*/



.field-validation-error {
    color: red;
}

body {
    background-color: lightcyan;
    font-family: 'Ubuntu', 'Courier New';
}

.main1 {
    padding-left: 10%;
}

.mainn {
    background-color: #FFFFFF;
    width: 400px;
    height: 500px;
    margin: 3em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgb(38, 50, 56);
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
    width: 76%;

    color: rgb(38, 50, 56);

    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;

    background: rgba(136, 126, 126, 0.04);

    padding: 10px 20px;
    border: none;

    border-radius: 20px;

    outline: none;

    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);

    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', 'Courier New';
}


.bool {
    width: 76%;
    /*color: rgb(38, 50, 56);*/
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    /*background: rgba(136, 126, 126, 0.04);*/
    /*padding: 10px 20px;*/
    border: none;
    /*border-radius: 20px;*/
    outline: none;
    /*box-sizing: border-box;*/
    /*border: 2px solid rgba(0, 0, 0, 0.02);*/
    margin-bottom: 20px;
    margin-left: 46px;
    text-align: center;
    font-family: 'Ubuntu', 'Courier New';
}

form.form1 {
    padding-top: 40px;
}

.pass {
    width: 76%;

    color: rgb(38, 50, 56);

    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;

    background: rgba(136, 126, 126, 0.04);

    padding: 10px 20px;
    border: none;

    border-radius: 20px;

    outline: none;

    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);

    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', 'Courier New';
}


    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
    }

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: white;
    background: linear-gradient(to right, #0433BF, #0B9ED9);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', 'Courier New';
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

@media (max-width: 800px) {
    .main {
        border-radius: 0px;
    }
