﻿
@{
    ViewData["Title"] = "Confirmation";
}   

    <div style="padding-left:5%;">
        <div style="text-align:center;" id="image">
            <img src="~/images/like.png" style="width: 30%;height: auto;" />
        </div>
        <br />
        <div style="text-align:center;"><h1>Yey! Your password has changed successfully!</h1></div>
    </div>

